<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">   
    <servlet>
        <servlet-name>S_Logging</servlet-name>
        <servlet-class>Logging.S_Logging</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S_Logging</servlet-name>
        <url-pattern>/S_Logging</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>S_allproduct</servlet-name>
        <servlet-class>main.S_allproduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S_allproduct</servlet-name>
        <url-pattern>/S_allproduct</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>S_signup</servlet-name>
        <servlet-class>main.S_signup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S_signup</servlet-name>
        <url-pattern>/S_signup</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>S_productView</servlet-name>
        <servlet-class>main.S_productView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S_productView</servlet-name>
        <url-pattern>/S_productView</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>S_NewArr</servlet-name>
        <servlet-class>main.S_NewArr</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>S_NewArr</servlet-name>
        <url-pattern>/S_NewArr</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>S_cart</servlet-name>
        <servlet-class>main.S_cart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S_cart</servlet-name>
        <url-pattern>/S_cart</url-pattern>
    </servlet-mapping>
</web-app>